.login-container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.welcome-text {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center content horizontally */
    background-color: #ffffff;
}

.welcome-image {
    width: 400px; /* Adjust image size as needed */
    height: auto;
    margin-top: 20px; /* Space between the text and image */
}

.logo-image{
    width: 300px; 
    height: auto;
    margin: 30px;
}

.login-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ea4265, #ff750d);
    padding: 20px;
    min-width: 320px;
}

.login-form form {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #ea4265, #ff750d);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(135deg, #ff750d, #ea4265);
}

button:disabled {
    background-color: #ccc;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .welcome-text,
    .login-form {
        flex: none;
        width: 100%;
    }

    .welcome-text {
        text-align: center;
    }

    .login-form {
        margin-top: 20px;
    }
    .welcome-image {
        width: 300px; /* Adjust image size as needed */
        height: auto;
        margin-top: 20px; /* Space between the text and image */
    }
    .logo-image{
        width: 200px; 
        height: auto;
        margin: 30px;
    }
}

@media (max-width: 480px) {
    .login-form form {
        padding: 15px;
    }

    input {
        padding: 8px;
    }

    button {
        padding: 8px;
    }
    .welcome-image {
        width: 200px; /* Adjust image size as needed */
        height: auto;
        margin-top: 40px; /* Space between the text and image */
    }
    .logo-image{
        width: 100px; 
        height: auto;
        margin: 30px;
    }
}
