<div class="login-container">
    <div class="welcome-text">
      <h1 class="welcome-head">Welcome Back, Admin!</h1>
      <!-- <p>Finish what you’ve started. Never give up!</p> -->
      <img src="robo4.png" alt="Welcome Image" class="welcome-image">
    </div>
    <div class="login-form">
      <form (ngSubmit)="onLogin()">
        <img src="SreeVia AI.png" alt="SreeViaAI" class="logo-image">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
